_tests
deployment_script.sh
terraform/.terraform/
terraform/terraform.tfstate
terraform/*.txt
terraform/*.exe
terraform/*.hcl
terraform/*.info
terraform/*.backup
terraform/*.tfvars
terraform/*.ini
terraform/modules/*
terraform/providers/*

*.tfstate
ansible/inventory
ansible/monitoring*
ansible/roles/app/templates/flask.service.j2
*.zip
*.pem
